# setuptools-scm doesn't work well with a shallow clone, see:
#    https://docs.gitlab.com/ee/ci/yaml/#shallow-cloning
variables:
  GIT_DEPTH: 0

.conda_template: &before_conda_env
  - source $HOME/.bashrc
  - conda update -n base -c defaults conda
  - conda install -c conda-forge -y tox tox-conda

.before_template: &before_defaults
  - python3 -m pip install --upgrade pip
  - python3 -m pip install --upgrade setuptools wheel twine s3pypi "setuptools-scm[toml]" importlib_metadata

workflow:
  rules:
    # Don't run pipelines for tags because they will be created in the tools-bot stage
    - if: $CI_COMMIT_TAG
      when: never
    # Don't run pipelines from merge requests out of master (should always be redundant)
    - if: $CI_COMMIT_REF_NAME == "master" && $CI_MERGE_REQUEST_ID
      when: never
    # Otherwise, run the pipelines as defined below
    - when: always

# NOTE: the templates below are so that we can add additional jobs to the CI
#       pipeline for merge requests (MR). Ideally, anytime someone pushes to *any*
#       branch, we would just run basic static analysis, and then, when a MR is
#       opened, we'd add in building and deploying the python package to S3 and
#       the docker container to ECR so that reviewers can easily test the MR.
#       HOWEVER, gitlab's merge requests pipelines work differently than other
#       pipelines meaning we need to specify enable them for jobs we want to run:
#           https://docs.gitlab.com/12.10/ee/ci/merge_request_pipelines/index.html
#       But doing so creates both a "push" pipeline and a "MR" pipeline, so the
#       `always_run` jobs are run in duplicate. There doesn't seem to be any
#       easy way around this currently:
#           https://gitlab.com/gitlab-org/gitlab-foss/issues/56632
#      So, our team we'll have to live with duplicates for a bit, and follow
#      "only open a MR when you're ready for review!" best practice.
.always_run_template: &always_run
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: on_success
    - when: on_success

.mr_protected_template: &only_mr_protected
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"
      when: on_success
    - if: $CI_COMMIT_REF_PROTECTED == "true"
      when: on_success
    - when: never


default:
  image:
    name: continuumio/miniconda3:4.7.12
    entrypoint: ["/bin/bash"]
  before_script:
    - *before_defaults

stages:
    - tools-bot
    - trigger merge-back
    - static analysis
    - test
    - dependancy analysis
    - package
    - containerize
    - verify


tag version:
  stage: tools-bot
  before_script:
    - chmod 600 ${GITLAB_TOOLS_BOT_SSH}
    - git config core.sshCommand "ssh -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
      -i ${GITLAB_TOOLS_BOT_SSH} -F /dev/null"
    - git config --global user.email "UAF-asf-apd@alaska.edu"
    - git config --global user.name "Tools-bot"
    - git remote set-url origin git@scm.asf.alaska.edu:hyp3/hyp3-ci.git
    - git fetch --all
    - apt-get install -y jq curl
    - *before_defaults
    - python3 -m pip install bump2version
  script:
    - source .gitlab/tag_version.sh
  rules:
    - if: $CI_COMMIT_REF_NAME == "master" && $CI_MERGE_REQUEST_ID == null

master to develop:
  stage: trigger merge-back
  trigger:
    include: .gitlab/merge_back.gitlab-ci.yaml
  rules:
    - if: $CI_COMMIT_REF_NAME == "master" && $CI_MERGE_REQUEST_ID == null





# TODO: Verify and scan docker container...
#       * static analysis: https://github.com/optiopay/klar
#       * Or: https://anchore.com/opensource/
#       * See: https://docs.gitlab.com/ee/user/application_security/container_scanning/
# TODO: - trigger downstream...
#       For hyp3-lib and hyp3-proc-lib, trigger pipelines to test with latest version... only for major?
